head,
body {
    background-color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1 vw;
}

#background-sketch {
    width: 100%;
    min-height: 100%;
    z-index: 0;
    position: fixed;
    left: 0px;
}

#center-scroller {
    z-index: 1;
    margin: auto;
    width: 50%;
    position: relative;
}


#body-text {
    background-color: rgba(40, 48, 43, 0.60);
    padding: 10px;
    border: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(150, 150, 150, 0.80);

}

.panel {
    text-align: center;
}


.panel {
    background-color: rgb(50, 50, 55);

    padding: 10px;
    border: 5px;
    border-radius: 10px;
    border-style: ridge;
    border-color: rgb(150, 150, 150);

    box-shadow: 5px 5px #000000;
}

.panel-content {
    width: 75%;
    margin: auto;
}


.panel-button-left {
    float: left;

    width: 35%;

    margin-right: 0%;
}

.panel-button-right {
    float: right;

    width: 35%;

    margin-left: 10%;
}

.panel-button-left,
.panel-button-right,
.panel-button-center {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #101010;
    margin: auto;

    padding: 10px;
    border: 7px;
    border-radius: 10px;
    border-style: ridge;
    border-color: rgb(150, 150, 150);

    box-shadow: 10px 10px #151515;
}

.panel-button-center {
    float: both;

    width: 35%;
}

.panel-button-left:hover,
.panel-button-right:hover,
.panel-button-center:hover {
    box-shadow: 15px 20px #151515;

    position: relative;
    bottom: 10px;
    opacity: 0.6;
    transition: 0.03s;
}

.panel-button-body {
    margin: 2px;
    color: rgb(150, 150, 150);
    ;
}

.panel-button-body-title {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
}

.spacer {
    position: relative;
    clear: both;
}